{erl_opts, [
	debug_info,
	{parse_transform, lager_transform}
]}.
{deps, [
	{oscam_port, ".*", {git, "https://github.com/AntonSizov/oscam_port.git", "HEAD"}},
	{sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}},
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}}
]}.
{sub_dirs, ["rel"]}.
